{% for sections in sectionsMenuHaut %}
    <li class="nav-item">
        <a class="nav-link" href="{{ path("section",{"slug":sections.sectionslug}) }}">{{ sections.sectiontitle }}</a>
    </li>
{% endfor %}
<ul class="navbar-nav mr-sm-4">

    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        <li class="nav-item">
            <span class="nav-link active disabled" >Bienvenue {{ app.user.userlogin }}</span>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ path('app_logout') }}">Déconnexion</a>
        </li>
    {% else %}
        <li class="nav-item">
            <a class="nav-link" href="{{ path('app_login') }}">Connexion</a>
        </li>
    {% endif %}


</ul>