{% extends 'bootstrap_4.html.twig' %}

{% block title %}{{ parent() }}{{ message.messagetitle }}{% endblock %}


    {% block menuhaut %}
        {{ include('home/_menu.html.twig') }}
    {% endblock %}
    {% block content %}
        <main role="main" class="flex-shrink-0">
            <div class="container">
                <h1 class="mt-5">{{ message.messagetitle }}</h1>
                <hr>
                {% block subcontent %}

                    <h3>{{ message.messagetitle }}</h3>
                    <h5>{% for section in message.sectionIdsection %}
                            <a
                            href="{{ path("section",{"slug":section.sectionslug}) }}">{{ section.sectiontitle }}</a>{% if not loop.last %} | {% endif %}
                        {% endfor %}</h5>
                    <p>{{ message.messagetext }}</p>
                    <h6>
                        Le {{ message.getMessagedate|date("d/m/Y à H:i") }}
                        par {{ message.userIduser.userlogin }} </h6>
                    <hr>

                {% endblock %}
            </div>
        </main>
    {% endblock %}
