{% extends 'base.html.twig' %}

{% block title %}Message index{% endblock %}

{% block body %}
    <h1>Message index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Idmessage</th>
                <th>Messagetitle</th>
                <th>Messageslug</th>
                <th>Messagetext</th>
                <th>Messagedate</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for message in messages %}
            <tr>
                <td>{{ message.idmessage }}</td>
                <td>{{ message.messagetitle }}</td>
                <td>{{ message.messageslug }}</td>
                <td>{{ message.messagetext }}</td>
                <td>{{ message.messagedate ? message.messagedate|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('message_show', {'idmessage': message.idmessage}) }}">show</a>
                    <a href="{{ path('message_edit', {'idmessage': message.idmessage}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('message_new') }}">Create new</a>
{% endblock %}
